[submodule "cnfAwesome"]
	path = cnfAwesome
	url = https://github.com/rouxb/cnfAwesome
	branch = master
[submodule "cnfNvimux"]
	path = cnfNvimux
	url = https://github.com/rouxb/cnfNvimux
	branch = master
